.header {
    font-family: 'Audiowide', cursive;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}
.logout {
    float: right;
    margin-right: 10px;
    color:white;
}